# Exclude files and directories from being published to npm

# Include the .gitignore file
!.gitignore

# Exclude other files and directories as needed
# Example:
# node_modules/
# build/
# dist/
# .idea/
# .DS_Store
